body {
    background-image: url("../img/backBd.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
    width: 100%;
}

.atv {
    margin: auto;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
}

.mer {
    background-image: url("../img/der.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.der {
    background-image: url("../img/der.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}